<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sign-in"></ion-back-button>
    </ion-buttons>
    <ion-title>Create an account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id="wrapper">

    <ion-img src="../assets/icons/logo.svg"></ion-img>

    <form [formGroup]="signupForm">

      <div class="form-item">
        <ion-item>
          <ion-label position="floating" color="primary">
              <ion-icon name="person" class="ion-margin-end"></ion-icon>
              Email
          </ion-label>
          <ion-input
            formControlName="email"
            type="email"
            [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
          </ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
          <span>Please enter a valid email.</span>
        </p>
      </div>

      <div class="form-item">
        <ion-item>
          <ion-label position="floating" color="primary">
              <ion-icon name="key" class="ion-margin-end"></ion-icon>
              Password
          </ion-label>
          <ion-input
            formControlName="password"
            type="password"
            [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
          </ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
          <span>Your password needs more than 6 characters.</span>
        </p>
      </div>

      <div class="form-item">
        <ion-button expand="block" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">Sign up</ion-button>
      </div>

    </form>

    <p class="already-account">Already have an account ? <span routerLink="/sign-in">Log in</span></p>
  </div>

</ion-content>
