<ion-header>
  <ion-toolbar>
    <ion-title>{{ people.name.first }} {{ people.name.last }}</ion-title>
    <ion-button slot="end" fill="clear" (click)="dismiss()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-card>
    <ion-item id="item-header" [ngClass]="{'bg-m' : people.gender === 'male', 'bg-f' : people.gender === 'female'}">
      <ion-avatar>
        <ion-img [src]="people.picture.large" alt=""></ion-img>
        <h1>{{ people.name.first }} {{ people.name.last }}</h1>
      </ion-avatar>      
    </ion-item>
    <ion-card-content>
      <div class="ion-text-end">
        <ion-button shape="round" color="primary" size="small" (click)="addToFavorites()" id="favorites-button">
          <ion-icon name="heart-empty"></ion-icon>
         <!--<ion-icon [name]="favorite ? 'heart' : 'heart-empty'"></ion-icon>--->
        </ion-button>
      </div>
      <ion-item>
        <ion-icon name="locate" item-left class="ion-margin-end"></ion-icon>
        <p>{{ people.location.city }}, {{ people.location.state }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="call" item-left class="ion-margin-end"></ion-icon>
        <p>{{ people.phone }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-left class="ion-margin-end"></ion-icon>
        <p>{{ people.email }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-left class="ion-margin-end"></ion-icon>
        <p>{{ people.dob.age }} years old</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
