<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sign-in"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id="wrapper">

    <ion-img src="../assets/icons/logo.svg"></ion-img>

    <form [formGroup]="resetPasswordForm">

      <div class="form-item">
        <ion-item>
          <ion-label position="floating" color="primary">
              <ion-icon name="person" class="ion-margin-end"></ion-icon>
              Email
          </ion-label>
          <ion-input
            formControlName="email"
            type="email"
            [class.invalid]="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">
          </ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">
          <span>Please enter a valid email.</span>
        </p>
      </div>

      <div class="form-item">
        <ion-button (click)="resetPassword(resetPasswordForm)" expand="block" [disabled]="!resetPasswordForm.valid">Reset my Password</ion-button>
      </div>

    </form>

    <p class="back-page">No problem ? <span routerLink="/sign-in">Back to the login page</span></p>
  </div>

</ion-content>
