<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Profile Page</h1>

  <p>ID : <ion-label color="primary">{{ user.uid }}</ion-label></p>
  <p>Email : <ion-label color="primary">{{ user.email }}</ion-label></p>

  <div>
    <ion-button (click)="logoutUser()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Log out
    </ion-button>
  </div>

  <div>
    <ion-button (click)="deleteAccount()">
      <ion-icon slot="start" name="remove-circle"></ion-icon>
      Delete account
    </ion-button>
  </div>

</ion-content>
