<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id="wrapper">

    <!-- Profile Form -->
    <form [formGroup]="profilePersoUser">
      <h2>My profile :</h2>

      <ion-label for="file" id="file-label">
        <ion-img [src]="user?.image" id="img-preview" alt=""></ion-img>
        <ion-input type="file" name="file" id="file" accept=".jpg, .jpeg, .png"></ion-input>
      </ion-label>
      <ion-input formControlName="image" type="hidden" id="base64code" value="{{ user?.image }}"></ion-input>

      <ion-item>
        <ion-label position="floating" color="primary">
          <ion-icon name="person" class="ion-margin-end"></ion-icon>
          Fullname
        </ion-label>
        <ion-input formControlName="fullname" type="text" value="{{ user?.fullname }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
          <ion-icon name="transgender"></ion-icon>
          Gender
        </ion-label>
        <ion-select formControlName="gender" value="{{ user?.gender }}">
            <ion-select-option value="NonBinary">Non-Binary</ion-select-option>
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Transgender">Transgender</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
          <ion-icon name="gift" class="ion-margin-end"></ion-icon>
          Age
        </ion-label>
        <ion-input formControlName="age" type="number" value="{{ user?.age }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
          <ion-icon name="call" class="ion-margin-end"></ion-icon>
          Phone number
        </ion-label>
        <ion-input formControlName="phone" type="number" value="{{ user?.phone }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
          <ion-icon name="heart-half"></ion-icon>
          Looking for gender
        </ion-label>
        <ion-select formControlName="lookingForGender" value="{{ user?.lookingForGender }}">
          <ion-select-option value="All">All</ion-select-option>
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="ion-text-end">
        <ion-button (click)="saveProfile(profilePersoUser)" [disabled]="!profilePersoUser.valid || profilePersoUser.untouched" class="ion-margin-top">Save update</ion-button>
      </div>
    </form>

    <!-- Buttons -->
    <div class="ion-margin-top ion-text-end">

      <div class="separator"></div>

      <ion-button (click)="logoutUser()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Log out
      </ion-button>

      <ion-button (click)="deleteAccount()">
        <ion-icon slot="start" name="remove-circle"></ion-icon>
        Delete account
      </ion-button>

      <ion-button routerLink="/privacy-policy">
        <ion-icon slot="start" name="clipboard"></ion-icon>
        Privacy Policy
      </ion-button>
    </div>

  </div>

</ion-content>