<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Profile Page</h1>

  <p>ID : <ion-label color="primary">{{ user.uid }}</ion-label></p>
  <p>Email : <ion-label color="primary">{{ user.email }}</ion-label></p>
  <p>Kind of research : <ion-label color="primary">All</ion-label></p>
  <p>Kind of research : <ion-label color="primary">{{ user.gender }}</ion-label></p>

  <div>
    <ion-button (click)="logoutUser()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Log out
    </ion-button>
  </div>

  <div>
    <ion-button (click)="deleteAccount()">
      <ion-icon slot="start" name="remove-circle"></ion-icon>
      Delete account
    </ion-button>
  </div>

  <!-- Preferences -->
  <form [formGroup]="preferencesGender">

    <h2>Preferences :</h2>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="savePreferences(preferencesGender)" [disabled]="!preferencesGender.valid">Save preferences</ion-button>

  </form>

</ion-content>
