<ion-header>
  <ion-toolbar>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id="wrapper">

    <ion-img src="../assets/icons/logo.svg"></ion-img>

    <form [formGroup]="loginForm">

      <div class="form-item">
        <ion-item>
          <ion-label position="floating" color="primary">
            <ion-icon name="person" class="ion-margin-end"></ion-icon>
            Email
          </ion-label>
          <ion-input
            formControlName="email"
            type="email"
            [class.invalid]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          </ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          <span>Please enter a valid email address.</span>
        </p>
    </div>
    
    <div class="form-item">
      <ion-item>
        <ion-label position="floating" color="primary">
          <ion-icon name="key" class="ion-margin-end"></ion-icon>
          Password
        </ion-label>
        <ion-input
          formControlName="password"
          type="password"
          [class.invalid]="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        </ion-input>
      </ion-item>
      <p class="error-message" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        <span>Your password needs more than 8 characters.</span>
      </p>
    </div>
    
    <div class="form-item">
      <ion-button (click)="loginUser(loginForm)" expand="block" [disabled]="!loginForm.valid">Sign in</ion-button>
    </div>

    </form>
    
    <p class="no-account">No account yet ? <span routerLink="/sign-up">Create a new account</span></p>
  </div>

</ion-content>
