<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Pull to refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Start Skeleton Content -->
  <div *ngIf="data">
        
    <!-- Content real users & API users -->
    <ion-grid>
      <ion-row>
        <!-- Real users -->
        <ion-col size-xs="12" size-md="6" size-lg="3" *ngFor="let user of usersList">
          <ion-card (click)="detailsRealPeople()" class="bg-g">
            <ion-icon name="star"></ion-icon>
            <ion-item>
              <ion-avatar class="ion-margin-top">
                <ion-img [src]="user?.picture.large" alt=""></ion-img>
              </ion-avatar>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>{{ user?.name.first }} {{ user?.name.last }}</h2>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <!-- API users -->
        <ion-col size-xs="12" size-md="6" size-lg="3" *ngFor="let people of peoples">
          <ion-card (click)="detailsPeople(people)" [ngClass]="{'bg-m' : people?.gender === 'male', 'bg-f' : people?.gender === 'female'}">
            <ion-item>
              <ion-avatar class="ion-margin-top">
                <ion-img [src]="people?.picture.large" alt=""></ion-img>
              </ion-avatar>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>{{ people?.name.first }} {{ people?.name.last }}</h2>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingText="Loading more profiles...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>
  <!--\. End Skeleton Content -->

  <!-- Skeleton Screen -->
  <div *ngIf="!data" id="skeleton">

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6" size-lg="3" *ngFor="let skeleton-item of ' '.repeat(50).split(''), let x = index">
          <ion-card>
            <ion-item>
              <ion-avatar>
                <ion-skeleton-text animated class="skeleton-picture"></ion-skeleton-text>
              </ion-avatar>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  
</ion-content>
