<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Pull to refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!-- Content -->
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6" size-lg="3" size-xl="2" *ngFor="let people of peoples">
        <ion-card (click)="DetailsPeople(people)">
          <ion-item>
            <ion-avatar>
              <ion-img [src]="people.picture.large" alt=""></ion-img>
            </ion-avatar>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>{{ people.name.first }} {{ people.name.last }}</h2>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
